canvas {
	border: 2px solid black;
	border-radius: 5px;
}
#info-pane {
	width: calc(100% - 1355px);
	margin-left: 15px;
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px;
}
#info-pane h3 {
	margin: 0;
	padding: 0;
}
#info-pane #info {
	clear: both;
}
.spaceType img:hover {
	cursor: pointer;
	box-shadow: 0 0 5px 0 hsl(0, 0%, 62%);
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}
